html {
  height: 100%;
}


body{
   padding: 0px;
   margin: 0px;
   height: 100%;
/*   position: relative;
   width: 100%;*/
}

/* .flex-init-setup {
     display: -webkit-box;
     display: -moz-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
 }
 .flex-ppal-setup {
     -webkit-flex-flow: column wrap;
     -moz-flex-flow: column wrap;
     flex-flow: column wrap;
     -webkit-justify-content: center;
     -moz-justify-content: center;
     justify-content: center;
 }*/

.welcomeText {
  font-family: 'Vollkorn', serif;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

#gradient {
  width: 100%;
  /*width: 1920px;*/
/*  position: absolute;
  top: 0;
  right: 0;*/
  /*z-index: -100;*/
  height: 100%;
  padding: 10px;
  padding-right: 100px;
  margin: 0px;
}

span.underline {
  /*display: inline;*/
  /*position: relative;*/
  /*font: 15px Helvetica, Sans-Serif;*/
  /*letter-spacing: -.25px;*/
  color: rgba(0,0,255,0.5); 
}

span {
    cursor: pointer;
}

.scoreText {
	margin: 0;
	font-family: 'Vollkorn', serif;
  color: rgba(255, 255, 255, 0.75);
	font-size: 1.0em;
	white-space: pre;
  display: none;
}

.sec{
	display: none;
}

#causeway-text span {
	display: inline-block;
}

.symbol {
	font-size: 2.0em;
}

small {
	font-size: 0.5em;
}

/*.phrase:hover{
	animation-name: zoomOutUp;
	animation-duration: 10s;
	animation-fill-mode: forwards;
}*/

@-webkit-keyframes zoomOutUp {
  40% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  to {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -2000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, -2000px, 0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

@keyframes zoomOutUp {
  40% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  to {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -2000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, -2000px, 0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.zoomOutUp {
  -webkit-animation-name: zoomOutUp;
  animation-name: zoomOutUp;
}

.clicked{
	-webkit-animation-name: zoomOutUp;
	animation-name: zoomOutUp;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
/*	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;*/
}
